* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

.hero-section{
 background-color: #1893d1;
 color: white;
 padding: 50px 20px;
 text-align: center;

}

.hero-content h1{
 font-size: 3rem;
 margin-bottom: 20px;
}

.cta-button {
 background-color: #0c79af;
 color: white;
 padding: 15px 30px;
 border-radius: 5px;
 text-decoration: none;
 font-size: 1rem;
}


